.carousel-item {
    height: 600px;
    overflow: hidden;
    width: 100%;
    }
.carousel-item img {
    width: 100%;
}

.txt-green{
    font-weight: bold;
    color: #006437;
}


.btn-ingressos{
    background-color: #DAA520 !important;
}

.sobre-bg-main{
    background-image: url("../../Assets/bg-home.jpg");
    font-weight: bold;
}

