
.navbar a{
    font-size: 18px !important;
    color: white !important;
    border-radius: 5px;

}

.navbar a:hover{
    background-color: white;
    color: #006437 !important;
}


.navbar {
    background-color:#006437 !important;
    margin-bottom: 0px;
}




